@using simple_ecommerce.Models
@model ProductDetailsVM
<!-- content-wraper start -->
<div class="content-wraper">
    <div class="container">
        <div class="row single-product-area">
            <div class="col-lg-5 col-md-6">
                <!-- Product Details Left -->
                <div class="product-details-left">
                    <div class="product-details-images slider-navigation-1">
                        <div class="product-image" style="height:100%">
                            <a href="/Home/ProductDetails?id=@Model.Product.Id">
                                <img onerror="this.onerror=null;this.src='/images/products/no-image.png';" src="images/products/@Model.Product.ImageUrl" alt="Li's Product Image">
                            </a>
                        </div>

                    </div>
                    <!--// Product Details Left -->
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="product-details-view-content pt-60">
                    <div class="product-info">
                        <h2>@Model.Product.Name</h2>
                        <span class="product-details-ref">Reference: demo_15</span>
                        <div class="rating-wrapper"
                             data-product-id="@Model.Product.Id"
                             data-user-rating="@Model.UserRating"
                             data-average-rating="@Model.AverageRating">

                            <ul class="star-rating user-rating">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    <li data-value="@i">&#9733;</li>
                                }
                            </ul>

                            <div class="avg-rating">
                                Average Rating:
                                <span>@Model.AverageRating.ToString("0.0")</span>
                            </div>
                        </div>

                        <div class="price-box pt-20">
                            <span class="new-price new-price-2">$@Model.Product.Price</span>
                        </div>
                        <div class="product-desc">
                            <p>
                                <span>
                                    100% cotton double printed dress. Black and white striped top and orange high waisted skater skirt bottom. Lorem ipsum dolor sit amet, consectetur adipisicing elit. quibusdam corporis, earum facilis et nostrum dolorum accusamus similique eveniet quia pariatur.
                                </span>
                            </p>
                        </div>

                        <div class="single-add-to-cart">
                            <div class="cart-quantity" style="margin-bottom:10px;">
                                <button style="cursor:pointer" class="add-to-cart" data-id="@Model.Product.Id" data-name="@Model.Product.Name" data-price="@Model.Product.Price">Add to cart</button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-wraper end -->


<script>


    $(document).ready(function () {

        function fillStars(container, rating, className) {
            container.find('li').each(function () {
                let value = $(this).data('value');
                $(this).toggleClass(className, value <= rating);
            });
        }

        $('.rating-wrapper').each(function () {
            let wrapper = $(this);
            let userRating = wrapper.data('user-rating');
            let avgRating = wrapper.data('average-rating');

            fillStars(wrapper.find('.user-rating'), userRating, 'selected');
            fillStars(wrapper.find('.user-rating'), avgRating, 'avg');
        });

        $('.user-rating li').hover(
            function () {
                let rating = $(this).data('value');
                fillStars($(this).parent(), rating, 'hover');
            },
            function () {
                $(this).parent().find('li').removeClass('hover');
            }
        );

        $('.user-rating li').click(function () {
            let rating = $(this).data('value');
            let wrapper = $(this).closest('.rating-wrapper');
            let productId = wrapper.data('product-id');

            $.post('/Home/Rate', {
                productId: productId,
                rating: rating
            }).done(function () {
                location.reload();
            });
        });
    });
</script>
